<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net45" />
  <package id="MACTrackBarLib.dll" version="1.0.2" targetFramework="net45" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net45" />
  <package id="Syncfusion.Grid.Base" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.Grid.Windows" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.Shared.Base" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.Shared.Windows" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.SpellChecker.Base" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.Tools.Base" version="19.2.0.57" targetFramework="net45" />
  <package id="Syncfusion.Tools.Windows" version="19.2.0.57" targetFramework="net45" />
</packages>